*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Times New Roman', Times, serif;color: red;
}
#leftNavbar{
    background-color: rebeccapurple;
    width: 10vmax;
    height: 100vmin;
}